@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata';
}

a {
    text-decoration: none;
    color: #fff;
}


/* Utilities */

.correct {
    background: rgb(59, 192, 70);
}

.wrong {
    background: red;
}

.current {
    background: yellow;
}

.text_background {
    background-color: rgb(134, 122, 122);
    opacity: 0.5;
}

.symbol {
    border-radius: 0.4rem;
}


/* Container for text */

.bottom {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: flex-end;
}

.line {
    position: relative;
    min-width: 80px;
}

.pos1 {
    max-height: 10vh;
    position: absolute;
    bottom: 0;
}

.writer {
    max-height: 40vh;
}

#body_box {
    background-color: #fff;
    max-height: 50vh;
    margin: 5rem;
    border: 0px solid #333;
    border-left: 3px solid #000;
    font-size: 2.5rem;
    padding: 1rem;
}

#body_box .content {
    opacity: 1;
}

#body_box .content span {
    min-width: 30px;
}


/* WPM */

#wpm {
    text-align: center;
    font-size: 3rem;
    color: #000;
}


/* Header */

#top {
    display: flex;
    background: #333;
    text-align: center;
    padding: 0.5rem;
    justify-content: space-between;
    color: white;
}

#top i {
    padding: 0 2rem;
    cursor: pointer;
}


/* keyboard */

.keyboard {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.keyboard .line {
    display: flex;
    justify-content: center;
    width: 100%;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.keyboard .line:last-child {
    border-top: 1px solid #333;
}

.keyboard .key {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.2rem;
    margin: 1px;
}