* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("./thumb-1920-514042.jpg") repeat center center/cover;
    font-family: 'Saira Semi Condensed', sans-serif;
}


/* Utilities */

.correct {
    background: green;
}

.wrong {
    background: red;
}

.current {
    background: white;
}

.text_background {
    background-color: rgb(134, 122, 122);
    opacity: 0.5;
}


/* Container for text */

#body_box {
    background-color: rgb(134, 122, 122);
    margin: 20vh 40vh;
    min-height: 50vh;
    min-width: 50vh;
    border: 0px solid #333;
    opacity: 0.5;
    font-size: 2.5rem;
}

#body_box .content {
    opacity: 1;
}


/* WPM */

#wpm {
    text-align: center;
    font-size: 3rem;
    color: rgb(86, 214, 150);
}